/* FONTE DO SITE */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* BORDA DO SITE */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
    padding: 0;
}

/* BODY DO SITE, FONTES E ETC */

body{
    height: 200vh;
}

/* NAV, HEADER (MENU DO SITE) E A LOGO */

.transparent-menu{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 100;
  padding: 5px;
}

/* MENU QUANDO DESCER A SCROLL */

.transparent-menu.scrolled{
    background-color: #000;
}
.transparent-menu.scrolled nav a{
    color: #fff;

}
.transparent-menu.scrolled a img{
    color: white;
}
/* IMAGEM DO HEADER E DO NAV */
header img{
    transition: 1s;

}

.transparent-menu img{
    height:95px;
    width: 95px;
}
nav img{
    height: 40px;
    width: 40px;
    
}

/*  ESPAÇAMENTO DO MENU*/

nav a {
    padding:5px ;
    
}

/* POSIÇÃO, COR E ESTILO DO NAV E DO HEADER */


/* ESTILO E COR */

nav a{
    position: relative;
    color: #000;
    text-decoration: none;
    transition: color 3s ease;
}

/* POSIÇÃO */

nav a{
    left: 900px ;
    bottom: 50px;
}

/* POSIÇÃO DA IMAGEM */

.transparent-menu img{
    position: relative;
    transition: color 3s ease;
    bottom: -15px;
    left: 40px;
    transition: color 0.3s ease;
}

/* TAMANHO  */

nav a {
    font-size: 15px;
}
/* HOVER DO MENU */
nav a::before{
    content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #9747ff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
nav a:hover::before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* HOVER DA LOGO */
header img:hover{
    opacity: 50%;
    transition: 1s;
    
}
/* MENU FUNCIONAL */
