/* FONT DO SITE MONOMANIAC ONE */
@font-face {
    font-family: Monomaniac One;
    src: url(monomaniac-one-regular.ttf);
} 

/* CONFIGURAÇAO GERAL PAGINA */
*{
    margin: 0;
}

/* CONTAINER FAIXA PINE_SPORTS */
header nav .faixa_pine{
    height:120px;
    width:100%;
    background-color: black;
    display: flex;
    align-items: center;
}

/* LOGOTIPO */
.pineapple{
    margin-left:30px;
    height:80px;
    width:80px;
}

/* PINE_SPORTS */
.pine_sports{
    font-family: Monomaniac One;
    font-size:40px;
    color:white;
    letter-spacing: 2px;
    margin-left: 15px;
    
}



/* CSS FORMULÁRIO */
form {
    margin: auto;
    margin-top: 5%;
    border: solid 25px black;
    text-align: center;
    height: 500px;
    width: 500px;
    color: #9747FF;
    transition: 1s;
    border-radius: 15px;
    padding:0;
    
}

/* HOVER FORMULÁRIO */
form:hover{
    box-shadow: 0 0 50px #9747FF, 0 0 70px #9747FF;
    background-color: #fff ;
}

/* BOTÃO NEON */
.bntneon {
    padding: 4px solid;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    margin: 40px;
    color: #fff;
    font-family:Monomaniac One;
    font-size:25px;
    text-decoration: none;
    overflow: hidden;
    margin-top: 0px;
    border: 2px solid #000;
    height: 50px;
    width: 160px;
    background-color: #000;


}

/* BOTÃO NEON HOVER */
.bntneon:hover{
    background-color: #000;
    border: 2px #9747FF solid;
    color: white;
    box-shadow: 0 0 5px #9747FF, 0 0 20px #9747FF, 0 0 35px #9747FF;
    transition: 0.5s;
    

}

/* ACTIVE BOTÃO NEON */
.bntneon:active{
    color: #fff;
    background: #9747FF;
}

/* FUNDO */
body {
    background-color: #fff;
    background-size: auto;
    background-position: fixed center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}

/* TÍTULO FORMULÁRIO */
.title {
    color: #000;
    font-family: Monomaniac One;
    font-size: 36px;
    margin-top 70px;
    text-align: center;
    margin: center;
    font-weight: lighter;
    margin-top:30px;
}

/* CONTAINER INPUTS */
.container{
    padding:20px;
    margin-top:40px;
}

/* CSS INPUT EMAIL E SENHA */
.Mail, .Password {
    padding: 10px;
    padding-left: 20px;
    background-color: transparent;
    color: black;
    font-family: Monomaniac One;
    font-size: 22px;
    border-color: #A5A2A2;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 20px;
    width: 90%;
    margin-top: 20px;
}

/* FOCUS PARA MUDAR A COR DA LINHA DIGITAÇÃO */
.Mail:focus, .Password:focus{
    border-color: #9747FF;
}

/* VÁLIDO E INVÁLIDO BORDER */
.Mail:valid, .Password:valid{
    border-color:#9747FF;
    border-top: solid 1px #9747FF;
    border-right: solid 1px #9747FF;
    border-left: solid 1px #9747FF;
    border-radius: 50px;
    transition: 1s;
    
}

/* CSS LINKs */
.esqueceu_senha, .conta{
    color: blue;
    font-family: Monomaniac One;
    font-size:20px;
}

/* CONTAINER DOS LINKS */
.container_link{
    text-align: center;
}

/* WEBKIT PLACEHOLDER INPUT GERAL */
::-webkit-input-placeholder {
    color:#A5A2A2;
    font-family: Monomaniac One;
    font-size: 22px;
}

/* HOVER LINKS "ESQUECEU A SENHA" E "CRIAR CONTA" */
.conta:hover, .f1:hover, .conta:focus, .f1:focus {
    color: #9747FF;
    transition: 1s;
    transform:translateX(1.2) scale(20px) ;
}

/* INPUT INVISÍVEL DO FOCUS */
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}