
/* CSS FORMULÁRIO */
form {
    margin: auto;
    margin-top: 5%;
    background-color: violet;
    border: solid 15px black;
    text-align: center;
    height: 400px;
    width: 500px;
    color: purple;
    transition: 3s;
    
}

/* HOVER FORMULÁRIO */
form:hover{
    box-shadow: 0 0 50px violet, 0 0 70px violet;
    background-color: #fff ;
    transition: 1s;
}

/* BOTÃO NEON */
.bntneon {
    padding: 4px solid;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    margin: 60px;
    color: violet;
    font-family:monospace;
    text-decoration: none;
    transition: 0,4s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    
    margin-top: 0px;
    border: 2px solid violet;
    height: 50px;
    transition: 2s;
    background-color: transparent;


}

/* BOTÃO NEON HOVER */
.bntneon:hover{
    background-color: violet;
    border: 2px purple solid;
    color: white;
    box-shadow: 0 0 10px violet, 0 0 40px violet, 0 0 70px violet;
    transition: 0.5s;
    

}

/* ACTIVE BOTÃO NEON */
.bntneon:active{
    color: violet;
    background: purple;
}

/* CSS EMAIL E SENHA TAG P */
.email, .senha {
    margin: 10%;
    font-family:monospace;
    color: violet;
    font-size: x-large;

}

/* FUNDO */
body {
    background-color: #fff;
    background-size: auto;
    background-position: fixed center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}

/* TÍTULO FORMULÁRIO */
.title {
    color: black;
    
    font-family: monospace;
    font-size: 20px;
    margin: auto;
    text-align: center;
    
    margin: center;

}

/* CSS INPUT EMAIL E SENHA */
.Mail, .Password {
    background-color: transparent;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border-color: black;
    border-radius: 50px;
    height: 30px;
    width: 300px;
}

/* HOVER INPUT EMAIL E SENHA */
.Mail:hover, .Password:hover{
    border: 2px solid blueviolet;
    box-shadow: inset 0 0 30px violet , 0 0 20px purple;
    transition: 1s;
    
}

/* HOVER TAG P EMAIL E SENHA */
.email:hover, .senha:hover {
    color: black ;
}

/* CSS LINK ESQUECEU A SENHA */
.f1{
    color: blueviolet;
    margin: 100px;
    font-family: monospace;
}

/* CSS LINK CRIAR CONTA */
.conta{
   margin: 100px;
   color: blueviolet;
   font-family: monospace;
   transform: translateX(0) scale(0.5);
}

/* WEBKIT PLACEHOLDER INPUT GERAL */
::-webkit-input-placeholder {
    color: purple;
    font-family: monospace;
    text-align: center;
}

/* HOVER LINKS "ESQUECEU A SENHA" E "CRIAR CONTA" */
.conta:hover, .f1:hover, .conta:focus, .f1:focus {
    color: violet;
    transition: 1s;
    transform:translateX(1.2) scale(20px) ;
}

/* INPUT INVISÍVEL DO FOCUS */
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}