
/* FONTE DO SITE */
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* FUNDO FONTE DA LETRA */
body{
    font-family: 'Raleway', sans-serif;
}

/* H1 DO CADASTRO */
.F1 {
    color: #000;
}

/* INPUT EMAIL */
.Texto{
    size: 100px;
   
}

/* FUNDO STYLE */
body {
    background-color: white;
    background-size: auto;
    background-position: fixed center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    padding: 30%;
    height: auto;
    
}

/* STYLE GERAL DE DIVS, SPAN, H1 */
.F2, .f4, .F3, .F5, .feminino, .Masculino, .nãobinario, .Generos, .A1, .T6, .Data, .estado, .T7, .T10, .t2, .numero{
    font-size: large;
    color: violet;
    background-color: transparent;
}

/* HOVER GERAL DE DIVS, SPAN, H1 */
.F2:hover, .f4:hover, .F3:hover, .F5:hover, .feminino:hover, .Masculino:hover, .nãobinario:hover, .Generos:hover, .A1:hover, .T6:hover, .Data:hover, .T7:hover, .T10:hover, .numero:hover {
    font-size: large;
    color: black;
    background-color: transparent;
    
}

/* HOVER GERAL DOS INPUTS */
.rua:hover, .Nome:hover, .vila:hover, .city:hover, .Texto:hover, .estado:hover, .C1:hover, .C2:hover, .C3:hover, .feminino:hover, .Data:hover, .Rua:hover {
    background-color: transparent;
    transition: 1s;
   
}

/* WEBKIY PLACEHOLDER GERAL */
::-webkit-input-placeholder{
    color: violet
    
}

/* FORMULÁRIO */
form {
    margin-left: 0px;
    padding: 20px;
    padding-left: 10px;
    padding-top: 3px;
    box-sizing: border-box;
    border: #000 3px solid;
    border-width: 30px;
    background-color: violet ;
    background-size: 200%;
    transition: 3s;
    margin-top: -380px;
    text-align: center;
    
}

/* HOVER DO FORMULÁRIO */
form:hover {
    box-shadow: 0 0 80px purple, 0 0 50px blueviolet;
    box-sizing: border-box;
        
    background-color: #fff;
    background-size: 200%;
    background-repeat: no-repeat;
    border: #000 3px solid;
    border-width: 30px;
    transition: 1s;

    opacity: 0,6;
}

/* BOTÃO LIMPAR OS CAMPOS */
.t4 {
    background-color: transparent;
    border: red solid 1px;
    color: red;
    border-radius: 50px;
}

/* HOVER BOTÃO LIMPAR OS CAMPOS */
.t4:hover {
    background-color: red;
    color: #fff;
    box-shadow: 0 0 20px red, 0 0 10px red;
    
}

/* BOTÃO ENVIAR DADOS */
.t3 {
    background-color: transparent;
    color: aqua;
    border: 1px aqua solid;
    input-security: auto;
    border-radius: 50px;
}

/* HOVER BOTÃO ENVIAR DADOS */
.t3:hover {
    background-color: aqua;
    color:#fff;
    box-shadow: 0 0 20px aqua, 0 0 10px aqua;
}

/* INPUT ENDEREÇO */
.rua {
    width: 5%;
    border-radius: 0;
}
/* TELA DE CARREGAMENTO */
.preloader{
    display: block;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    width: 981.6px;
    height: 600px;
    margin: auto;
}

/* SCROLLBAR NA PÁGINA */
::-webkit-scrollbar{
    color: transparent;
    border: solid transparent 1px;
}
::-webkit-scrollbar-button{
    color: gray;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    transition: 1s;
    width: 1px;
}
::-webkit-scrollbar-thumb:hover{
    color:gray;
    transition: 1.0s;
    background-color: gray;
    border-radius: 5px;
    width: 1px;
    
}

/* MARGIN AUTO TELA INTEIRA */
*{
    margin: auto;
}
/* FOCUS NOS INPUTS */
.rua:focus, .Nome:focus, .vila:focus, .city:focus, .Texto:focus, .estado:focus, .nascimento:focus, .C1:focus, .C2:focus, .C3:focus, .feminino:focus, .Data:focus, .estado:focus, .Rua:focus {
    outline-color:purple ;
    outline-style: solid;
    outline-width: 2px;
    transition: all 1s;
}
/* INPUT CONDIÇÃO INVÁLIDA */
.rua:invalid, .Nome:invalid, .vila:invalid, .city:invalid, .Texto:invalid, .estado:invalid, .nascimento:invalid, .C1:invalid, .C2:invalid, .C3:invalid, .feminino:invalid, .Data:invalid, .estado:invalid, .Rua:invalid{
    color:red;
    outline-color:red ;
}

/* INPUTS CONDIÇÃO VÁLIDA */
.rua:valid, .Nome:valid, .vila:valid, .city:valid, .Texto:valid, .estado:valid, .nascimento:valid, .C1:valid, .C2:valid, .C3:valid, .feminino:valid, .Data:valid, .estado:valid, .Rua:valid{
    color:green;
    outline-color:green ;
}

/* LINHAS DO FORMULÁRIO (INPUTS) */
.rua, .Nome, .vila, .city, .Texto, .estado, .nascimento, .C1, .C2, .C3, .feminino, .Data, .estado {
    border-bottom: solid gray 1px;
    width: 260px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}

/* INPUT DE NÚMERO CSS */
.number{
    width: 20px;
    background-color: transparent;
    border-bottom: solid gray 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    overflow: hidden;

}

/* PADDING DOS INPUTS */
.input{
    padding: 20px;
}    

/* BOTÕES ENVIAR E LIMPAR DADOS */
.button{
    padding: 20px;
}

/* CONTAINER DO ACEITE OS TERMOS */
.termos{
    padding: 20px;
}

/* WEBKIT DO SCROLLBAR DA PÁGINA INTEIRA */
::-webkit-scrollbar {
    color: transparent;
}

/* TIRANDO A VISIBILIDADE DA SCROLLBAR DO INPUT DE NÚMERO */
::-webkit-scrollbar-button{
    visibility: hidden;
}

/* WEBKIT--INNER-SPIN-BUTTON INPUT DE NÚMERO */
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

/* INPUT DE NÚMERO */
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

/* INPUT INVISÍVEL DO FOCUS */
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}