@import url('https://fonts.cdnfonts.com/css/monomaniac-one');
body{
    font-family: 'Monomaniac One', sans-serif;
    transition: all 2s ease-in-out;
}
.F1 {
    color: #000;
}
.Texto{
    size: 100px;
   
}
body {
    background-color: white;
    background-size: auto;
    background-position: fixed center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    padding: 30%;
    height: auto;
    
}
.F2, .f4, .F3, .F5, .feminino, .Masculino, .nãobinario, .Generos, .A1, .T6, .Data, .estado, .T7, .T10, .t2, .numero{
    font-size: large;
    color: #9747FF;
    background-color: transparent;
}
.F2:hover, .f4:hover, .F3:hover, .F5:hover, .feminino:hover, .Masculino:hover, .nãobinario:hover, .Generos:hover, .A1:hover, .T6:hover, .Data:hover, .T7:hover, .T10:hover, .numero:hover {
    font-size: large;
    color: black;
    background-color: transparent;
    
}

.rua:hover, .Nome:hover, .vila:hover, .city:hover, .Texto:hover, .estado:hover, .C1:hover, .C2:hover, .C3:hover, .feminino:hover, .Data:hover, .Rua:hover {
    background-color: transparent;
    transition: 1s;
   
}
::-webkit-input-placeholder{
    color: #9747FF
    
}

form {
    margin-left: 0px;
    padding: 20px;
    padding-left: 10px;
    padding-top: 3px;
    box-sizing: border-box;
    border: #000 3px solid;
    border-width: 30px;
    background-color: #9747FF ;
    background-size: 200%;
    transition: 3s;
    margin-top: -380px;
}

form:hover {
    box-shadow: 0 0 100px #9747FF;
    box-sizing: border-box;
    background-color: #fff;
    background-size: 200%;
    background-repeat: no-repeat;
    border: #000 3px solid;
    border-width: 30px;
    transition: 1s;

    opacity: 0,6;
}

.t4 {
    background-color: transparent;
    border: red solid 1px;
    color: red;
    border-radius: 50px;
}
.t4:hover {
    background-color: red;
    color: #fff;
    box-shadow: 0 0 20px red, 0 0 10px red;
    
}

.t3 {
    background-color: transparent;
    color: aqua;
    border: 1px aqua solid;
    input-security: auto;
    border-radius: 50px;
}
.t3:hover {
    background-color: aqua;
    color:#fff;
    box-shadow: 0 0 20px aqua, 0 0 10px aqua;
}
.Rua {
    width: 5%;
    border-radius: 0;
}
/* tela De Carregramento */
#loader-wrapper {
    transition: all ease-in-out 2s;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
 
    border: 3px solid purple;
    z-index: 1500;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid #9747FF;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid #fff;
}
#loader {
    border: 3px solid transparent;
    border-top-color: purple;
}
#loader:before {
    border: 3px solid transparent;
    border-top-color: #9747FF;
}
#loader:after {
    border: 3px solid transparent;
    border-top-color: #fff;
}
#loader {
    border-radius: 50%;
}
#loader:before {
    border-radius: 50%;
}
#loader:after {
    border-radius: 50%;
}
 #loader, #loader:before, #loader:after{
    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 1.5s linear infinite;
 }

/* include this only once */
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg);  
        transform: rotate(0deg); 
    }
    100% {
        -webkit-transform: rotate(360deg);  
        -ms-transform: rotate(360deg);  
        transform: rotate(360deg);  
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);  
        transform: rotate(0deg);  
    }
    100% {
        -webkit-transform: rotate(360deg);  
        -ms-transform: rotate(360deg);  
        transform: rotate(360deg);  
    }
}
 
 #loader {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: purple;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite; 
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9747FF;
    -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite; 
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 1.5s linear infinite; 
      animation: spin 1.5s linear infinite; 
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  
        -ms-transform: rotate(0deg); 
        transform: rotate(0deg);  
    }
    100% {
        -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  
        -ms-transform: rotate(0deg); 
        transform: rotate(0deg);  
    }
    100% {
        -webkit-transform: rotate(360deg);  
        -ms-transform: rotate(360deg); 
        transform: rotate(360deg); 
    }
}
/* Content */
#content{
    transition: 2s;

}
/* scrollBar */
::-webkit-scrollbar{
    color: transparent;
    border: solid transparent 1px;
}
::-webkit-scrollbar-button{
    color: gray;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    transition: 1s;
    width: 1px;
}
::-webkit-scrollbar-thumb:hover{
    color:gray;
    transition: 1.0s;
    background-color: gray;
    border-radius: 5px;
    width: 1px;
    
}
*{
    margin: auto;
}
/* focus */
.rua:focus, .Nome:focus, .vila:focus, .city:focus, .Texto:focus, .estado:focus, .nascimento:focus, .C1:focus, .C2:focus, .C3:focus, .feminino:focus, .Data:focus, .estado:focus, .Rua:focus {
    outline-color:purple ;
    outline-style: solid;
    outline: 0;
    outline-width: 2px;
    transition: all 1s;
}
/* invalid e Valid */
.rua:invalid, .Nome:invalid, .vila:invalid, .city:invalid, .Texto:invalid, .estado:invalid, .nascimento:invalid, .C1:invalid, .C2:invalid, .C3:invalid, .feminino:invalid, .Data:invalid, .estado:invalid, .Rua:invalid{
    color:red;
    outline-color:red ;
}
.rua:valid, .Nome:valid, .vila:valid, .city:valid, .Texto:valid, .estado:valid, .nascimento:valid, .C1:valid, .C2:valid, .C3:valid, .feminino:valid, .Data:valid, .estado:valid, .Rua:valid{
    color:green;
    outline-color:green ;
}
/* linhas dos input */
.rua, .Nome, .vila, .city, .Texto, .estado, .nascimento, .C1, .C2, .C3, .feminino, .Data, .estado {
    border-bottom: solid gray 1px;
    width: 260px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}
.number{
    width: 20px;
    background-color: transparent;
    border-bottom: solid gray 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    overflow: hidden;
}
/* Botão */
.button{
    padding: 20px;
}
/* termos */
.termos{
    padding: 20px;
}
/* webkit */
::-webkit-scrollbar {
    color: transparent;
}
::-webkit-scrollbar-button{
    visibility: hidden;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
/* CENTRALIZAR AS FIGURAS NO MEIO */
.T7, .Data, .feminino{
    text-align: center;
    display: flex;
}