
/* FUNDO */
body {
    background-color: white;
}

/* FORMULÁRIO */
form {
    border: solid 15px #000;
    text-align: center;
    margin: auto;
    padding: 60px;
    width: 500px;
    font-family: monospace;
    background-color: violet;
    transition: 2s;
    
}

/* INPUT DIV EMAIL */
.a1 {
    color: violet;
}

/* HOVER DIV EMAIL */
.a1:hover {
    color: #000;
}

/* INSIVIBILIDADE INPUT EMAIL */
.f1 {
    background-color: transparent;

}

/* HOVER FORMULÁRIO */
form:hover {
    background-color: white;
    transition: 2s;
    box-shadow: 0px 0px 100px purple;
}

/* INPUT EMAIL */
.f1{
    border: 1px solid violet;
    transition: 3s;
    border-radius: 50px;
    transition: 2s;
}

/* HOVER INPUT EMAIL */
.f1:hover {
    color: purple;
    transition: 2s;
    box-shadow: inset 0 0 20px violet, 0 0 20px purple;
    border-color: purple;
}

/* WEBKIT INPUT PLACEHOLDER PAGINA GERAL */
::-webkit-input-placeholder {
    color: violet;
    font-family: monospace;
}

/* BOTÃO ENVIAR */
.F2 {
    color: white;
    font-family: monospace;
    background-color: violet;
    border: 2px solid purple;
    transition: 2s;
    width: 80px;
    height: 40px;
    border-radius: 50px;
}

/* HOVER BOTÃO ENVIAR */
.F2:hover {
    background-color: white;
    color: violet;
    box-shadow: 0 0 30px purple;
    transition: 1s;
    border: 2px solid violet;
}

/* ACTIVE BOTÃO ENVIAR */
.F2:active{
    background-color: purple;
    color: white;
}