@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

/* FORMULÁRIO */
form {
    border: solid 10px #000;
    text-align: center;
    position: relative;
    bottom: -75px;
    margin: auto;
    padding: 60px;
    width: 300px;
    padding-top: 40px;
    background-color: white;
    transition: 1s;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

/* INPUT DIV EMAIL */
.a1 {
    color: black;
    transition: 1s;
    font: 15px;
}

/* HOVER DIV EMAIL */
.a1:hover {
    color: #9747FF;
    
}

/* INSIVIBILIDADE INPUT EMAIL */
.f1 {
    background-color: transparent;

}

/* HOVER FORMULÁRIO */
form:hover {
    background-color: white;
    transition: 1s;
    transform: scale(1.1) translateY(-10px);
    box-shadow: 0px 0px 50px #9747FF;
}

/* INPUT EMAIL */
.f1{
    border: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: 1s;
    transition: 1s;
    font-size: 20px;
}

/* HOVER INPUT EMAIL */
.f1:hover {
    color: #9747FF;
    transition: 1s;
    border-color: #9747FF;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* WEBKIT INPUT PLACEHOLDER PAGINA GERAL */
::-webkit-input-placeholder {
    color: #000;
    font-family: monospace;
    border-top: none;
    border-left: none;
    border-right: none;
}

/* BOTÃO ENVIAR */
.F2 {
    color: white;
    font-family: monospace;
    background-color: black;
    transition: 1s;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

/* HOVER BOTÃO ENVIAR */
.F2:hover {
    background-color: #9747FF;
    color: white;
    transition: 1s;

}

/* ACTIVE BOTÃO ENVIAR */
.F2:active{
    background-color: #9747FF;
    color: white;
}
.texto{
    display: flex;
    flex-direction: column;
    position: relative;
    
}
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
h2{
    font-size: 25px;
}
.Inputs{
    position: relative;
    bottom: 30px;
}
p{
    font-size: 30px;
}
.pagamento i{
    size: 15px;
    height: 50px;
    width: 50px;

}
.pagamento i:hover {
    color: #9747FF;
    transition: all 0.5s;
    transform: scale(1.5)
}