body {
    background-color: white;
}
form {
    border: solid 15px #000;
    text-align: center;
    margin: auto;
    padding: 60px;
    width: 500px;
    font-family: monospace;
    background-color: violet;
    transition: 2s;
    
}
.a1 {
    color: violet;
}
.a1:hover {
    color: #000;
}
.L1, .f1 {
    background-color: transparent;

}
form:hover {
    background-color: white;
    transition: 2s;
    box-shadow: 0px 0px 100px purple;
}
.f1{
    border: 1px solid violet;
    transition: 3s;
    border-radius: 50px;
    transition: 2s;
}
.f1:hover {
    color: purple;
    transition: 2s;
    box-shadow: inset 0 0 20px violet, 0 0 20px purple;
    border-color: purple;
}
::-webkit-input-placeholder {
    color: violet;
    font-family: monospace;
}
.F2 {
    color: white;
    font-family: monospace;
    background-color: violet;
    border: 2px solid purple;
    transition: 2s;
    width: 80px;
    height: 40px;
    border-radius: 50px;
}
.F2:hover {
    background-color: white;
    color: violet;
    box-shadow: 0 0 30px purple;
    transition: 1s;
    border: 2px solid violet;
}
.F2:active{
    background-color: purple;
    color: white;
}