/* FONT FAMILY GERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

/* @import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:ital,wght@1,300&display=swap); */

:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

/* RESET CONFIGURAÇÕES PÁGINA */
*{
    margin: 0;
    padding:0;
}

/* HEADER */
header{
    height:130px;
    background-color: black;

}

/* CONTAINER DA PRIMEIRA METADE DA TELA */
#container_primario{
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;
    height: 500px;
    gap:50px;
}
/* SECTION COLUNA SIDE */
#coluna_side{
    display: flex;
    flex-direction: column;
    gap:30px;
    height:400px;
    width: 150px;
    margin-bottom:75px;
}

/* IMAGEM DOS ANGULOS DAS CHUTEIRAS */
.div_side{
    height: 100%;
    width:100%;
}

/* IMAGEM DOS ANGULOS DAS CHUTEIRAS */
.img_side{
    height:100%;
    width:100%;
}

/* DIV COM IMAGEM PRINCIPAL */
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height:400px;
    width:600px;
}

/* IMAGEM PRINCIPAL */
.div_img_principal{
    height:100%;
    width:100%;
}

#img_principal{
    height: 100%;
    width: 100%;
}

/* DIV INPUTS DE TAMANHO E QUANTIA */
.inputs{
    display: flex;
    justify-content: center;
    gap:70px;
}

/* CONFIG TAMANHO */
#tamanho{
    height: 30px;
    width:150px;

}
/* PLACEHOLDER E ESCRITA DA QUANTIA */
#quantia{
    display: flex;
    align-items: center;
    padding:5px;
    width: 150px;
    
}

.texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* TEXTO DE INFORMAÇÕES SOBRE A CHUTEIRA PRINCIPAL */
.nome_chuteira{
    font-weight: bold;
     font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

/* DESCONTO */
.desconto{
    margin-left: 160px;
}

/* PREÇO */
.preco{
    font-weight: bolder;
     font-family: 'Poppins', sans-serif;
    font-size: 50px; 
}

/* SEM JUROS */
.sem_juros{
    color: var(--color-neutral-30);
    font-weight: bold;

}

/* BOTÃO DE ADICIONAR */
.adicionar{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-weight: bolder;
    padding:20px;
    height:20px;
    width:230px;
    font-size:20px;
}

/* CONTAINER CEP ENVIAR */
.cep_enviar{
    display: flex;
    gap:50px;
}

/* TEXTO CEP */
.texto_cep{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size:16px;
     font-family: 'Poppins', sans-serif;
}
/* CEP */
#cep{
    padding-left: 5px;
    height:40px;
    width: 150px;

}

/* ENVIAR */
#enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-weight: bolder;
    font-size:19px;
    height:45px;
    width:120px;
    margin-top:22px;
}

/* DIVISÃO DE TELA */
.meia_tela{
    width:84vw;
    margin: auto;
}

/* TITULO SECUNDARIO */
#titulo_secundario{
     font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size:45px;
    margin: auto;
    text-align: center;
}

/* CONTAINER GERAL SECUNDÁRIO DAS CHUTEIRAS EM OFERTA */
.secundaria{
    display: flex;
    justify-content: center;
    gap:100px;
    padding:100px;
    background-color: #;
}

/* CHUTERIAS */
.chuteira{
    font-weight: 700;
    border: 1 px solid black;
    height: 500px;
    width: 340px;
    text-align: justify;
}

/* IMAGEM DAS OFERTAS SECUNDÁRIAS */]
.chuteira img{
    width:100%;
    
}


.preco_secundario{
    text-align: center;
    font-size: 24px;
}

/* FOOTER */
/* CORES VARIÁVEIS DO FOOTER */
:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
  }
  
  /* RESET E CONFIG GERAIS DO FOOTER */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    letter-spacing: 1px;
    text-decoration: none;
  }
  
  /* MAIN DO FOOTER SÓ DE BASE */
  main{
    height: 80vh;
  }
  
  /* ORGANIZAÇÃO DO FOOTER TAG */
  footer{
    width: 100%;
    color: var(--color-neutral-40);
    text-decoration: none;
  
  }
  
  /* LINKS DO FOOTER, SEM SUBLINHAR */
  .footer-link{
    text-decoration: none;
  
  }
  
  /* CONTAINER GERAL DAS AREAS DE REDES SOCIAIS */
  #footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem ;
  }
  
  /* H1 TITULO PINEAPPLES COMPANY DA AREA DAS REDES SOCIAIS */
  #footer_contacts h1{
    margin-bottom: 0.75rem;
  }
  
  /* CONTAINER DAS AREAS DAS REDES SOCIAIS*/
  #footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
  }
  
  /* CONFIG LINKS DE REDES SOCIAIS E CONTAINER */
  #footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
  
  }
  
  /* LINKS DE REDES SOCIAIS */
  #footer_social_media .footer_link i{
    font-size: 1.25rem;
  
  }
  
  /* HOVER DOS LINKS REDES SOCIAIS */
  #footer_social_media .footer_link :hover{
    opacity: 0.8;
  }
  
  /* FUNDO DO ICON INSTAGRAM */
  #instagram{
    background: linear-gradient(#7f37c9, #ff2992,#ff9807);
   
  }
  
  /* FUNDO ICON WHATSAPP */
  #whatsapp{
    background-color: #13be1b;
  }
  
  /* FUNDO ICON TWITTER */
  #twitter{
    background-color: rgb(0, 157, 255);
  }
  
  /* LISTA NAO ORDENADA BLOG */
  .footer_list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
  }
  
  /* COR E TRANSIÇÃO NOS LINKS DE REDIRECIONAMENTO DO SITE */
  .footer_list .footer_link{
    color: var(--color-neutral-30);
    transition: all 0.4s;
  }
  
  /* HOVER NOS LINKS DE REDIRECIONAMENTO DO SITE */
  .footer_list .footer_link:hover {
    color: #7f37c9;
  }
  
  /* CONTAINER DE INSCRIÇÃO */
  #footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  /* PARÁGRAFOS DE INSCRIÇÃO */
  #footer_subscribe p{
    color: var(--color-neutral-30); 
  
  }
  
  /* HOVER PARÁGRAFOS DE INSCRIÇÃO */
  #footer_subscribe p:hover {
    color: #7f37c9;
  }
  
  /* CONTAINER DE INPUT PARA ENVIAR EMAIL */
  .input_group{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
  }
  
  /* INPUT PARA ENVIAR EMAIL */
  .input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
  }
  
  /* BOTÃO PARA ENVIAR EMAIL */
  .input_group button{
    background-color: #7f37c9;
    color: var(--color-neutral-40);
    border: none;
    font-size: 1.125rem;
    padding: 0px 1.12rem;
    height: 100%;
    border-radius:  0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
  
  }
  
  /* HOVER BOTÃO DE ENVIAR EMAIL */
  .input_group button :hover{
    opacity: 0.8;
  }
  
  /* COPYRIGHT EMBAIXO NO FOOTER */
  #footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9;
    padding: 1.5rem;
    font-weight: 100;
  }