/* RESET DE CONFIGURAÇÕES */
*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

/* FONT FAMILY GERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* VARIÁVEIS DE CORES DA PÁGINA */
:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

/* PLANO DE FUNDO DO SOBRE NÓS E TERMOS DE USO */
body{
    position: relative;
    background: #121111 linear-gradient(180deg, rgba(76, 201, 240, 0) 0%, rgba(143, 34, 195, 0.3) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */
header{
    display: flex;
    margin-left: -30px;
}
/* MAIN GERAL */
main{
    padding-top: 50px;
    padding-bottom: 100px;
}

/* PLANO DE FUNDO */
#fundo_pine_um{
    position: absolute;
    height:400px;
    width:400px;
    left: 600px;
    top: 150px;
}

#fundo_pine_dois{
    position: absolute;
    height:400px;
    width:400px;
    left: 600px;
    top: 850px;
}
/* HEADERS DOS TITULOS */
.header_titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(94.12% 94.12% at 51.76% 0%, #8504EA 0%, rgba(66, 0, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(81.74% 279.79% at 96.64% 90.57%, #8F22C3 0%, rgba(186, 5, 202, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(63.69% 245.54% at 12.6% 84.38%, #1C00A4 0%, rgba(83, 51, 237, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #000588;
    color: #fff;
    font-size: 35px;
    width: 60%;
    height: 70px;
    border-radius: 10px;
    margin: auto;
}

/* LOGOTIPO NOS TITULOS */
.img_titulo{
    height:100px;
    width:100px;
    position: relative;
    left:250px;
}



/* SECTIONS DOS TEXTOS*/
.div_texto{
    padding-right: 200px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

/* TÍTULO COM LOGOTIPO */
.img_h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* LOGOTIPO */
.logo_h1{
    height: 35px;
    width:35px;
    opacity: 0.5;
}

/* TEXTO */
.texto{
    color: #fff;
    text-align: center;
    font-size: 22px;
}



/* FOOTER */
footer{
    width: 100%;
    color: var(--color-neutral-40);
    text-decoration: none;

}

/* LINKS DO FOOTER COM INFORMAÇÕES */
.footer_link{
    text-decoration: none;

}

/* CONTAINER PRINCIPAL DO FOOTER */
#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem ;
}

/* DIV DOS CONTATOS COM A EMPRESA */
#footer_contacts h1{
    margin-bottom: 0.75rem;
}

/* LOGOTIPO DAS REDES SOCIAIS DE CONTATO DA EMPRESA */
#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

/* CONFIG REDES SOCIAIS E LINKS DA PÁGINA */
#footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;

}

/* LINKS DAS LOGOS DAS REDES SOCIAIS */
#footer_social_media .footer_link i{
    font-size: 1.25rem;

}

/* HOVER DOS LINKS DAS LOGOS DAS REDES SOCIAIS */
#footer_social_media .footer_link :hover{
    opacity: 0.8;
}

/* LOGO PINEAPPLES COMPANY */
#pineapple{
    background-color: #ff2992;
}

/* REDE SOCIAL INSTAGRAM */
#instagram{
    background: linear-gradient(#7f37c9, #ff2992,#ff9807);
   
}

/* REDE SOCIAL WHATSAPP */
#whatsapp{
    background-color: #13be1b;
}

/* REDE SOCIAL TWITTER */
#twitter{
    background-color: rgb(0, 157, 255);
}

/* LISTA DE ASPECTOS DAS PÁGINAS */
.footer_list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

/* CONFIG LISTA E LINKS REDES SOCIAIS */
.footer_list .footer_link{
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

/* HOVER LISTA E LINKS */
.footer_list .footer_link:hover {
    color: #7f37c9;
}

/*  DIV SUBSCRIBE NO EMAIL */
#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* TEXTO DIV SUBSCRIBE */
#footer_subscribe p{
    color: var(--color-neutral-30); 

}

/* HOVER TEXTO SUBSCRIBE */
#footer_subscribe p:hover {
    color: #7f37c9;
}

/* ENVIAR A INSCRIÇÃO */
.input_group{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

/* INPUT INSCRIÇÃO */
.input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

/* BOTÃO DE ENVIO DO EMAIL DA INSCRIÇÃO */
.input_group button{
    background-color: #7f37c9;
    color: var(--color-neutral-40);
    border: none;
    font-size: 1.125rem;
    padding: 0px 1.12rem;
    height: 100%;
    border-radius:  0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;

}

/* HOVER BOTÇAO DE ENVIO DA INSCRIÇÃO */
.input_group button :hover{
    opacity: 0.8;
}

/* COPYRIGHT NO FIM DO SITE  */
#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9;
    padding: 1.5rem;
    font-weight: 100;
}