form {
    border: solid 10px #000;
    position: relative;
    bottom: -0px;
    margin: auto;
    padding: 60px;
    width: 450px;
    background-color: white;
    transition: 1s;
    height: 550px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

form:hover {
    box-shadow: 0 0 100px #9747FF;
    background-size: 200%;
    background-repeat: no-repeat;
    transition: 1s;
    opacity: 0,6;
}
.input{
    font-size: 15px;
    color: #000;
    height: 25px;
}
.input:hover {
    color: #9747FF;
    background-color: transparent;

}