@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.text{
    border: solid 10px #000;
    text-align: center;
    position: relative;
    bottom: -140px;
    margin: auto;
    padding: 60px;
    width: 350px;
    padding-top: 0px;
    background-color: white;
    transition: 1s;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.text:hover{
    background-color: white;
    transition: 1s;
    transform: scale(1.1) translateY(-10px);
    box-shadow: 0px 0px 50px #9747FF;
}

.home {
    color: white;
    font-family: monospace;
    background-color: black;
    transition: 1s;
    width: 85px;
    height: 65px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
}
.home:hover {
    background-color: #9747FF;
    color: white;
    transition: 1s;

}
.confirmada{
    font-size: 25px;
}
.sucesso{
    font-size: 20px;
}
.check{
    font-size: 105px;
    background-color: green;
    padding: 10px;
    border-radius: 150px;
    color: #ffffff;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
}
:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}



footer{
    width: 100%;
    color: var(--color-neutral-40);
    text-decoration: none;
    display: flex;
    margin-top: 50px;
    
}
.footer-link{
    text-decoration: none;

}

#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem ;
}
#footer_contacts h1{
    margin-bottom: 0.75rem;
}
#footer_social_midia{
    display: flex;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;

}

#footer_social_media .footer_link i{
    font-size: 1.25rem;

}
#footer_social_media .footer_link :hover{
    opacity: 0.8;
}

#pineapple{
    background-color: #ff2992;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992,#ff9807);
   
}

#whatsapp{
    background-color: #13be1b;
}
#twitter{
    background-color: rgb(0, 157, 255);
}
.footer_list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer_list .footer_link{
    color: var(--color-neutral-30);
    transition: all 0.4s;
}
.footer_list .footer_link:hover {
    color: #7f37c9;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#footer_subscribe p{
    color: var(--color-neutral-30); 

}
#footer_subscribe p:hover {
    color: #7f37c9;
}

.input_group{
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}
.input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}
.input_group button{
    background-color: #7f37c9;
    color: var(--color-neutral-40);
    border: none;
    font-size: 1.125rem;
    padding: 0px 1.12rem;
    height: 100%;
    border-radius:  0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;

}
.input_group button :hover{
    opacity: 0.8;}
#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9;
    padding: 1.5rem;
    font-weight: 100;
}
/* ESTILO DO MENU */
#header{
    display: flex;
    transition: all 1s ease;
    background-color: white;
    color: #000;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 80px;
  /* IMAGENS DA LOGO COM, OS HOVER DOS BOTÕES */
  }
  #header img{
    gap: 2rem;
    height: 70px;
    width: 80px;
  }
  #menu a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: purple;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  #menu a:hover:before {
    visibility: visible;
    color: #000;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  /* ESTILO DO MENU COMO QUE ELE FICARIA */
  #menu {
    transition: all 1s ;
    height: 1px;
    left: 900px;
    margin-top: 20px; 
    background-color: #fff;
    padding: 20px;
    position: sticky;
    top: 80px; /* ALTURA DO CABEÇALHO */
  }
  /* ESTILOS DO MENU */
  #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #menu ul li {
  
    display: inline-block;
    margin-right: 20px;
  }
  
  #menu ul li a {
    color: #000;
    transition: all 1s ease;
    position:relative;
    text-decoration: none;
    padding: 5px;
  }
  
  
  /* ESTILO DO MENUDROP E COMO FUNCIONA */
  .dropdown-content {
    transition: all 1s ease;
    display: none;
    color: white;
    transition: all 1s ease;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: white;
    background-color: #9747FF;
    transition: all 1s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 12px 16px;
    flex-wrap: wrap;
    text-decoration: none;
    display: flex;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    color: white;
    transition: all 1s ease;
  }
  
  /* AI O CSS QUE ESTA NOS CODIGOS DE JS O "IMPOSTOR" */
  .scroll-black {
    background-color: #000 !important;
    color: #fff !important;
    transition: all 1s ease;
  }
  
  .scroll-black a {
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
  
  }
  .scroll-black.box-busca {
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
  
  }
  /* SEARCH DO SITE (COLOQUEI EM INGLÊS POIS USEI DE UM SITE DE BASE) */
  .box-busca{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
  }
  .search-box-input::placeholder {
    
    color:#ffffff;
    opacity: 0.6;
  }
  /* CORES DO PLACEHOLDER  */
  .search-box-input::-webkit-input-placeholder { color: #ffffff; }
  .search-box-input::-moz-placeholder { color: #ffffff; }
  .search-box-input:-ms-input-placeholder { color: #ffffff; }
  .search-box form {
    border: #9747FF solid 2px; 
    display: flex;
    border-radius: 50px;
    height: 30px;
  }
  .search-box:hover .search-box-input {
    
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;
  }
  .scroll-black.search-box{
  color: #fff;
  background-color: #000;
  }
  .scroll-black.search-box-button{
    background-color: #000;
  }
  .search-box-input {
    outline: 0;
    font-size: 1.2em;
    color: #9747FF;
    width: 0;
  
    padding: 0;
    border: none;
    background: none;
    transition: .45s;
  }
  /* BOTÕES */
  .search-box-button {
   display: flex;
   border-radius: 50%;
   color: gray;
   background-color: transparent;
   width: 30px;
   height: 30px;
   border: none;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: .3s;
  }
  .search-box-button:active  {
    transform: scale(.85);
  }
  /* TAMANDO DO HOVER DO SITE */
  @media screen and (min-width: 400px){
    
    .search-box:hover .search-box-input {
        width: 360px;
    }
  }
  #header a:hover{
  
    filter: opacity(65%);
  
  }